main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition: all ease-in-out 200ms;
    background-color: white;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    display: flex;
    margin: auto;
    
    @media screen and (max-width: 849px) {
        width: 100vw;
        gap: 15px;

    }
    @media screen and (min-width: 850px) {
        width: 40%;
        gap: 10px;
    }

    //Hide scroll bar for Chrome / Safari / Opera
    &::-webkit-scrollbar {
        display: none;
    }

    .table {
        transition: all ease-in-out 200ms;
        text-align: center;
        color: #809bce;

        @media screen and (max-width: 849px) {
            font-size: 1em;
        }

        &:hover {
            transition: all ease-in-out 200ms;
            transform: scale(1.1);
            cursor: pointer;
        }

        span {
            font-family: 'Kanit', sans-serif;
            color: black;
        }
    }

    .separator {
        border: 2px solid #EAC4D5;
        width: 20vw;
    }
}

.content-drill {
        width: 100% !important;
}

.content {
    overflow: auto !important;
    width: 90% !important;
    p {
        text-align: left;
        color: black;
    }

    table { 
        width: 750px; 
        border-collapse: collapse; 
        margin: 20px auto;

        th { 
            background: #B8E0D2; 
            color: white; 
            font-weight: bold; 
        }

        td, th { 
            padding: 10px; 
            border: 1px solid black; 
            text-align: center; 
            font-size: 18px;

            input {
                font-family: 'Kanit', sans-serif;
                text-align: center;
                border: none;
                background-color: white;
                &:focus {
                    outline: none;
                }
            }
        }
    }
        
    button {
        font-family: 'Dela Gothic One', cursive;
        text-align: left;
        width: fit-content;
        background-color: white;
        border-radius: 5px;
        margin: 5px;
        transition: all ease-in-out 200ms;

        &:hover {
            background-color: #EAC4D5;
            color: white;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}