p, label, button {
  font-family: "Dela Gothic One", cursive;
  font-size: 1em;
}

input, select {
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  text-align: center;
}

body {
  background: linear-gradient(130deg, #e1ecf7 7%, #aecbeb 18%, #83b0e1 31%, #71a5de 46%, #83b0e1 60%, #aecbeb 75%, #e1ecf7 92%);
  animation: gradient 15s linear infinite;
  background-size: 1800% 100%;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body .container {
  justify-content: space-evenly;
  background-color: white;
  border: 4px solid black;
  flex-direction: column;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  margin: 10px;
}
@media screen and (max-width: 849px) {
  body .container {
    width: 80%;
  }
}
@media screen and (min-width: 850px) {
  body .container {
    width: 60%;
  }
}
body .container p {
  transition: all ease-in-out 200ms;
}
@media screen and (max-width: 849px) {
  body .container p {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 850px) {
  body .container p {
    font-size: 2em;
  }
}
body .container .form_container {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 12px;
}
body .container .form_container .showpassword {
  transition: all ease-in-out 100ms;
  width: 30px;
}
body .container .form_container .showpassword:hover {
  transform: scale(1.1);
}
body .container .form_container div {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 640px) {
  body .container .form_container div {
    flex-direction: column;
    align-items: center;
  }
}
body .container .form_container div .div_children {
  display: flex;
}
body .container .form_container .morespace {
  padding: 10px;
}
body .container .form_container input, body .container .form_container select {
  border: none;
  background-color: white;
  border-bottom: 1px solid black;
}
body .container .form_container input:focus, body .container .form_container select:focus {
  outline: none;
}
body .container .form_container textarea {
  font-family: "Kanit", sans-serif;
  width: 42vw;
  height: 20vh;
  resize: none;
}
@media screen and (max-width: 640px) {
  body .container .form_container textarea {
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body .container .form_container button {
  background-color: white;
  border-radius: 5px;
  margin: 20px 0 20px 0;
  transition: all ease-in-out 200ms;
}
body .container .form_container button:hover {
  background-color: #EAC4D5;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}
body .signup {
  border: 4px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  align-items: center;
  margin: 10px;
}
@media screen and (max-width: 849px) {
  body .signup {
    width: 80%;
  }
}
@media screen and (min-width: 850px) {
  body .signup {
    width: 60%;
  }
}
body .signup a {
  color: black;
}
body .signup a:hover {
  color: #EAC4D5;
  text-decoration: none;
}

@keyframes gradient {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}/*# sourceMappingURL=form.css.map */