body {
    font-family: 'Dela Gothic One', cursive;
    font-size: 1em;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        background-color: white;
        border-bottom: 2px solid black;
        height: 8%;

        @media screen and (max-width: 849px) {
            background-color: #c6edc3;
        }
        @media screen and (min-width: 850px) {
            background-color: white;
        }

        .menu {
            z-index: 3;
            width: 50px;
        }

        .menu, p {
            margin: 10px;
        }

        .option {
            width: 25px;
            margin-left: 10px;
        }

        .burger {
            &-drill {
                padding-top: 100px;
                display: flex;
                position: fixed;
                flex-direction: column;
                z-index: 2;
                top: 0;
                right: 0;
                height: 100vh;
                background-color: white;
                overflow-y: auto;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
                transition: 450ms;
                border-left: 4px solid black;

                @media screen and (max-width: 849px) {
                    width: 100vw;
                    justify-content: center;
                    align-items: center;
                    padding-top: 0;
                    background: linear-gradient(130deg, #e4fde1 9%, #c6edc3 23%, #a7dca5 36%, #90cf8e 50%, #a7dca5 68%, #c6edc3 81%, #e4fde1 92%);
                    background-size: 1800% 100%;
                    animation: gradient 15s linear infinite;
                }
                @media screen and (min-width: 850px) and (max-width: 980px) {
                    width: 35vw;
                }
                @media screen and (min-width: 980px) {
                    width: 25vw;
                }
            }
        }
    }

    .job_container {
        transition: all ease-in-out 200ms;
        @media screen and (max-width: 849px) {
            display: flex;
            flex: 1;
            overflow: hidden;
        }
        @media screen and (min-width: 850px) {
            display: flex;
            flex: 1;
            overflow: hidden;
        }

        main {
            transition: all ease-in-out 200ms;
            @media screen and (max-width: 849px) {
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100vw;
                gap: 15px;
                overflow-y: scroll;
            }
            @media screen and (min-width: 850px) {
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 40%;
                gap: 10px;
                overflow-y: scroll;
            }

            .job {
                transition: all ease-in-out 200ms;
                @media screen and (max-width: 849px) {
                    transform: scale(1.5);
                    &:hover {
                        transition: all ease-in-out 200ms;
                        transform: scale(1.7);
                    }
                }
                @media screen and (min-width: 850px) {
                    transform: scale(1);
                    &:hover {
                        transition: all ease-in-out 200ms;
                        transform: scale(1.2);
                    }
                }
            }

            .separator {
                @media screen and (max-width: 849px) {
                    border: 0.5px solid black;
                    width: 60vw;
                }
                @media screen and (min-width: 850px) {
                    border: 0.5px solid black;
                    width: 25vw;
                }
            }
        }

        .content-drill {
            transition: all ease-in-out 200ms;
            @media screen and (max-width: 849px) {
                background-color: rgb(124, 180, 124);
                transform: translateX(100%);
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(130deg, #e4fde1 9%, #c6edc3 23%, #a7dca5 36%, #90cf8e 50%, #a7dca5 68%, #c6edc3 81%, #e4fde1 92%);
                background-size: 1800% 100%;
                animation: gradient 15s linear infinite;
                width: 100%;
                height: 100vh;
                position: fixed;
                z-index: 1;
                top: 0;
                right: 0;
                overflow-y: auto;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
                transition: 450ms;
            }
            @media screen and (min-width: 850px) {
                background-color: rgb(124, 180, 124);
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(130deg, #e4fde1 9%, #c6edc3 23%, #a7dca5 36%, #90cf8e 50%, #a7dca5 68%, #c6edc3 81%, #e4fde1 92%);
                background-size: 1800% 100%;
                animation: gradient 15s linear infinite;
                width: 60%;
                border-left: 4px solid black;
            }

            .rightarrow {
                @media screen and (max-width: 849px) {
                    width: 50px;
                    position: absolute;
                    margin: 10px;
                    top: 0;
                    left: 0;
                }
                @media screen and (min-width: 850px) {
                    display: none;
                }
            }

            .content {

                @media screen and (max-width: 849px) {
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    width: 80%;
                    height: 80vh;
                    border: 3px solid black;
                }
                @media screen and (min-width: 850px) {
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    width: 80%;
                    height: 60vh;
                    border: 3px solid black;
                }

                .apply {
                    font-family: 'Dela Gothic One', cursive;
                    margin: 10px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: white;
                    border-radius: 5px;
                    transition: all ease-in-out 200ms;

                    &:hover {
                        background-color: #90cf8e;
                        color: white;
                        transform: scale(1.1);
                    }
                }

                form {
                    margin: 10px;
                    position: absolute;
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    bottom: 0;

                    textarea {
                        font-family: 'Kanit', sans-serif;
                        width: 35vw;
                        height: 5vh;
                        resize: none;
                        outline: none;
                    }

                    input {
                        font-family: 'Dela Gothic One', cursive;
                        background-color: white;
                        border-radius: 5px;
                        transition: all ease-in-out 200ms;
                        height: fit-content;
                        align-self: center;
    
                        &:hover {
                            background-color: #90cf8e;
                            color: white;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@keyframes gradient {
    0% { background-position: 200% 50%; }
    100% { background-position: -100% 50%; }
}

.burger-drill {
	transform: translateX(100%);
    div {
        display: flex; 
        transition: all ease-in-out 200ms;
        @media screen and (max-width: 849px) {
            transform: scale(1.5);
        }
        &:hover {
            transition: all ease-in-out 200ms;
            @media screen and (max-width: 850px) {
                transform: scale(1.7);
            }
            @media screen and (min-width: 850px) {
                transform: scale(1.1) translateX(10px);
            }
        }   
    }
}
.burger-is-toggled {
	.burger-drill {
		transform: translateX(0);
	}
	&::after {
		opacity: 1;
		visibility: visible;
	}
}

.content-is-toggled {
	.content-drill {
		transform: translateX(0) !important;
	}
	&::after {
		opacity: 1;
		visibility: visible;
	}
}